*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desatured-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-paragraph: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
    background-color: var(--very-dark-blue);
    font-size: 15px;
    color:white;
}

.wrapper {
    display:flex;
    flex-direction: column;
    width: 90%;
    max-width: 480px;
    margin: 90px auto 60px auto;
    align-items: center;
    text-align: center;
    background: var(--dark-desatured-blue);
    border-radius: 8px;
 
}
.item:first-of-type {
    background-color: var(--soft-violet);
    filter: brightness(80%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.item:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 1.8rem;
}

.item {
    margin: 0;
    width: 100%;
}

img {
    max-width:100%;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

h1 {
    font-family: Inter;
    font-weight: 700;
    color: var(--white);
    font-size: 1.8rem;
    padding: 40px 25px 10px 25px;
}

.description {
    padding: 10px 40px 0px 40px;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5rem;
    color: var(--slightly-transparent-paragraph);
}   

.accent {
    color:var(--soft-violet);
}

.stats, .stats p {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 700;
    color: var(--white);
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.stats p span {
    font-family: "Lexend Deca";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--slightly-transparent-stat-headings);
}

.attribution {
    margin-bottom: 30px;
    margin-inline: 35px;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
}

.attribution a, .attribution a:visited, .attribution a:active {
    text-decoration: none;
    color: var(--soft-violet);  
}

.attribution a:hover {
    opacity: 0.8;
}

@media (min-width: 780px) {
    .wrapper {
        flex-direction: row-reverse;
        max-width: 1000px;
        align-items: stretch;
        padding: 0px;
        border-radius: 8px;
    }

    .text-wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-content: flex-start;
        justify-content: space-around;
        width: 80%;
        height: 100%;
        text-align: start;
    }

    .item:first-of-type {
        border-top-left-radius: 0px;
        border-bottom-right-radius: 8px;
        flex: 1 1 426px;
    }

    .item:last-of-type {
        padding-bottom: 0px;
        flex: 1 3 426px;
    }

    h1 {
        padding-right: 0px;
    }

    .description {
        padding-left: 25px;
        padding-right: 0px;
    }

    .stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .stats p {
        text-align: start;
        align-items: start;
        padding-left: 25px;
        margin-left: 0px;
    }
}


